$c-gray: #eee;
$pale: #57789a;
$white: #fff;
$cinnabar: #e74c3c;
$cinnabar-transp: rgba(231, 76, 60, 0.5);
$harley-davidson-orange: #c32818;
$madison: #2c3e50;
$dim-gray: #707070;

$a-short: 0.4s;
$a-long: 2s;

$btn-fs-nav: 15px;
$btn-fs: 18px;

$heading-l: 50px;
$heading-m: 46px;
$heading-s: 40px;
$heading-xs: 36px;

$fs-xxs: 14px;
$fs-xs: 15px;
$fs-xss: 16px;
$fs-s: 20px;
$fs-m: 22px;
$fs-mm: 24px;
$fs-xm: 30px;

$fs-xl: 44px;
$fs-xxl: 100px;
